{% extends "characters/base.html" %}

{% block title %}{{ page_title }} - Přehled D&D Postav{% endblock title %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>{{ page_title }}</h1>
    <a href="{% url 'characters:postava_create' %}" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
        Přidat novou postavu
    </a>
</div>

{% if postavy %}
    <div class="list-group">
        {% for postava in postavy %}
        <a href="{% url 'characters:postava_detail' pk=postava.pk %}" class="list-group-item list-group-item-action flex-column align-items-start mb-2 shadow-sm">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ postava.jmeno }}</h5>
                <small class="text-muted">{{ postava.datum_vytvoreni|date:"d.m.Y" }}</small>
            </div>
            <p class="mb-1">{{ postava.rasa }} {{ postava.trida }}, Úroveň {{ postava.uroven }}</p>
            {% if postava.zivotopis %}
                <small class="text-muted">{{ postava.zivotopis|truncatewords:25 }}</small>
            {% else %}
                <small class="text-muted"><em>Žádný životopis nebyl zadán.</em></small>
            {% endif %}
        </a>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
        Zatím nebyly přidány žádné postavy. <a href="{% url 'characters:postava_create' %}" class="alert-link">Můžeš být první!</a>
    </div>
{% endif %}
{% endblock content %}
