{% extends "characters/base.html" %}

{% block title %}{{ page_title }} - Přehled D&D Postav{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1 class="mb-3">{{ postava.jmeno }}</h1>
        <dl class="row">
            <dt class="col-sm-3">Rasa:</dt>
            <dd class="col-sm-9">{{ postava.rasa }}</dd>

            <dt class="col-sm-3">Třída:</dt>
            <dd class="col-sm-9">{{ postava.trida }}</dd>

            <dt class="col-sm-3">Úroveň:</dt>
            <dd class="col-sm-9">{{ postava.uroven }}</dd>

            <dt class="col-sm-3">Síla:</dt>
            <dd class="col-sm-9">{{ postava.sila|default:"Nezadáno" }}</dd>

            <dt class="col-sm-3">Aktivní:</dt>
            <dd class="col-sm-9">{% if postava.je_aktivni %}Ano{% else %}Ne{% endif %}</dd>

            <dt class="col-sm-3">Datum vytvoření:</dt>
            <dd class="col-sm-9">{{ postava.datum_vytvoreni|date:"d.m.Y H:i" }}</dd>
        </dl>

        {% if postava.zivotopis %}
            <h4>Životopis:</h4>
            <p class="text-muted" style="white-space: pre-wrap;">{{ postava.zivotopis|linebreaksbr }}</p>
        {% else %}
            <p class="text-muted"><em>Životopis nebyl zadán.</em></p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Akce</h5>
                <div class="d-grid gap-2">
                    <a href="{% url 'characters:postava_update' pk=postava.pk %}" class="btn btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square me-2" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                        Upravit
                    </a>
                    <a href="{% url 'characters:postava_delete' pk=postava.pk %}" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill me-2" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                        Smazat
                    </a>
                </div>
                <hr>
                <a href="{% url 'characters:postava_list' %}" class="btn btn-outline-secondary w-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill me-2" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                    Zpět na seznam
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
